body {
	font-family: font-family: 'Roboto', sans-serif;
	font-weight: 100;
}
/*above and below will affect all these with that element*/
h1 {
	font-size: 25px;
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
}

h2 {
	font-size: 20px;
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
}

h6 {
	font-size: 15px;
	font-family: 'Scheherazade New', serif;
	font-weight: 700;
}

p {
	font-size: 12px;
	line-height: 2;
	color: peachpuff;
}
/*below are classes*/
.p2 {
	font-size: 20px;
	line-height: 1.5;
	color: teal;
}

.lsthead {
	font-size: 30px;
	color: purple;
}
/*cdnjs - can get styles and javascript from here*/